---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我"
	description="关于 Huang Yuan 和这个博客"
	pubDate={new Date('2025-01-01')}
>
	<p>你好，我是 Huang Yuan。</p>

	<p>这个博客是我记录思考、分享知识和生活点滴的线上空间。这里的内容涵盖技术学习、读书笔记、旅行记录以及日常随想。</p>

	<p>博客使用 <a href="https://astro.build" target="_blank">Astro</a> 构建，托管在 <a href="https://pages.cloudflare.com" target="_blank">Cloudflare Pages</a>，源码托管在 <a href="https://github.com/huangyuan0315-design/blog" target="_blank">GitHub</a>。</p>

	<p>所有内容均为原创，如需转载请先联系我。</p>
</Layout>
