---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我"
	description="关于这个不正经的博主"
	pubDate={new Date('2026-06-07')}
>
	<p>你好，我是这个博客的主人。</p>


	<p>这个博客记录了我到处溜达的日常。照片嘛，五分靠构图，三分靠后期，剩下九十二分全靠运气。文字嘛，主打一个想到哪写到哪，正经不了一点。</p>

	<p>为什么叫 LEMON？因为柠檬又酸又甜，像极了旅行——出发前兴奋得像打了鸡血，到了景区累得像条狗，回来一看照片觉得真值，然后又订下一张机票。</p>

	<p>目前的人生信条：<strong>趁还走得动，多去看看这个世界。毕竟以后只能坐着轮椅在小区里转圈的时候，至少要有点回忆可以吹牛。</strong></p>

	<p>欢迎通过 <a href="https://github.com/huangyuan0315-design/blog" target="_blank">GitHub</a> 来戳我，虽然我不一定回。</p>
</Layout>
